.figura1
  animation-name: mov1
  animation-duration: 3s
  animation-iteration-count: infinite
@keyframes mov1
  0%
    margin-left: 60%
  50%
    margin-left: 90%
  100%
    margin-left: 60%

.figura2
  animation-name: mov2
  animation-duration: 3s
  animation-iteration-count: infinite
@keyframes mov2
  0%
    margin-left: 100%
  50%
    margin-left: 70%
  100%
    margin-left: 100%

.figura3
  animation-name: mov3
  animation-duration: 3s
  animation-iteration-count: infinite
@keyframes mov3
  0%
    margin-left: 90%
  50%
    margin-left: 70%
  100%
    margin-left: 90%

.Neg-Der50
  margin-left: -50px

.Neg-Izq
  margin-right: -80px

.Neg-IzqMax
  margin-right: -940px

.Neg-Der
  margin-left: -100px 

.Neg-Top
  margin-top: -70px

.Neg-Top30
  margin-top: -30px

.Neg-Top40
  margin-top: -40px

.Neg-Top140
  margin-top: -240px

.Neg-TopMax
  margin-top: -400px

.Neg-Abajo
  margin-bottom: -20px

.Neg-Abajo100
  margin-bottom: -300px

.bgBlanco
  background-color: white
  border: #c4bfbf solid 1px

.bgAcentoBotones
  background-color: #FFCA28

.bgPrimario
  background-color: #4DD0E1

.text-primario
  color: #4DD0E1  !important

.text-secundario
  color: #039BE5

.Text-grande
  font-size: 1.5em

.Text-mediano
  font-size: 1.3em

.bgFondoTitulo
  background-image: url("../assets/curso/tema1/fondoTitulo.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgFondoUnosyCerosAzul
  background-image: url("../assets/curso/tema2/unosycerosAzul.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgFondoPantalla
  background-image: url("../assets/curso/tema2/fondoPantalla.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
